<% wrap_layout :layout  do %>

    <%- entity = data.flattened.Type[current_page.data.id] %>

    <h1><%= entity.name %></h1>
    <%= entity.description %>
    <hr class='col-sm-12' />


    <!-- this is primarily the Scope and Usage section -->
    <%= yield %>

    <!-- image here if available -->


    <h2>Attributes</h2>

        <table class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Cardinality</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
        <% attributes_by_entity(current_page.data.id).each do |a| %>
            <tr>
                <td><%= a.name %></td>
                <td><%= a.dataType %></td>
                <td><%= a.cardinality %></td>
                <td><%= a.description %></td>
            </tr>
        <% end %>
            </tbody>
        </table>


    <h2>Examples</h2>
    <div id="example_view"></div>
    <script>
window.addEventListener('load', function () {
    var view = $("#example_view").JSONView(
          <%= Hash[(examples_by_type(current_page.data.id) || []).map {|ex| [ex['cg:id'], ex]}].to_json %>,
          { collapsed: true }
    )

    var fix_ellipses = function () {
        $('#example_view ul.obj li a:contains("cg:id")').parent().parent().parent().children('.ellipsis').each(function () {
            $(this).html('<em>' + $(this).next('ul').find('a:contains("cg:id")').next('.string')[0].innerText + ', …</em>')
        })

        $('#example_view ul.array').each(function () {
            $(this).parent().children('.ellipsis').html('<em>… [' + $(this).children('li').size() + ']</em>')
        })
    }
    fix_ellipses()
    $('#example_view .collapser').click(fix_ellipses)
    $('#example_view .collapser').next('a.prop').click(fix_ellipses)
})
    </script>

<% end %>
