<% wrap_layout :layout  do %>


    <!-- this is primarily the Scope and Usage section -->
    <%= yield %>

    <!-- image here if available -->

    <h2>Attributes</h2>

        <table class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Cardinality</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
        <% attributes_by_entity(current_page.data.id).each do |a| %>
            <tr>
                <td><%= a.name %></td>
                <td><%= a.dataType %></td>
                <td><%= a.cardinality %></td>
                <td><%= a.description %></td>
            </tr>
        <% end %>
            </tbody>
        </table>

    <h2>Inherited Attributes</h2>

        <table class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Cardinality</th>
                <th>Inherited From</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
            <% parentid = data.flattened.Type[current_page.data.id].parentType %>
            <% while parentid != nil %>
                <% attributes_by_entity(parentid).each do |a| %>
                <tr>
                    <td><%= a.name %></td>
                    <td><%= a.dataType %></td>
                    <td><%= a.cardinality %></td>
                    <td><%= data.flattened.Type[parentid].name %></td>
                    <td><%= a.description %></td>
                </tr>
                <% end %>
                <% parentid = data.flattened.Type[parentid].parentType %>
            <% end %>
            </tbody>
        </table>

    <h2>Examples</h2>
    <table class="table table-striped table-bordered" cellspacing=0 width="100%">
      <thead><tr>
        <th>ID</th>
        <th>description</th>
        <th>json</th>
        <th>diagram</th>
      </tr></thead>
      <tbody>
      <% (examples_by_type(current_page.data.id) || []).each do |ex| %>
        <tr>
          <td><%= ex['cg:id'] %></td>
          <td><%= ex['description'] || ex['desc'] || ex['shortDescription'] || ex['name'] || ex['explanation'] || ex['alleleName'] %></td>
          <td><div class="example_view" id="<%= ex['cg:id'] %>"><pre><code><%= JSON.pretty_generate(ex) %>
          </code></pre></div></td>
          <td><a href="../../examples/diagram.html#<%= ex['cg:id'] %>">diagram</a></td>
        </tr>

      <% end %>
      </tbody>
    </table>
    <script>
var fix_ellipses = function ($view) {
    $view.find('ul.obj li a:contains("cg:id")').parent().parent().parent().children('.ellipsis').each(function () {
        $(this).html('<em>' + $(this).next('ul').find('a:contains("cg:id")').next('.string')[0].innerText + ', …</em>')
    })
    $view.find('ul.array').each(function () {
        $(this).parent().children('.ellipsis').html('<em>… [' + $(this).children('li').size() + ']</em>')
    })
}

window.addEventListener('load', function () {
    $('.example_view').each(function() {
        var $view = $(this);
        $view.JSONView($(this).text(), {collapsed: true})
        fix_ellipses($view)
        $view.find('.collapser').click(function (e) { fix_ellipses($view); })
        $view.next('a.prop').click(function (e) { fix_ellipses($view); })
    })

})
    </script>

<% end %>
