<% wrap_layout :layout  do %>
    
    


    <!-- this is primarily the Scope and Usage section -->
    <%= yield %>

    <!-- image here if available -->

    <h2>Attributes</h2>

        <table class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Cardinality</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
        <% attributes_by_entity(current_page.data.id).each do |a| %>
            <tr>
                <td><%= a.name %></td>
                <td><%= a.dataType %></td>
                <td><%= a.cardinality %></td>
                <td><%= a.description %></td>
            </tr>
        <% end %>
            </tbody>
        </table>


    <h2>Examples</h2>


<% end %>
